@model MvcApplication1.Models.Product

@{
    ViewBag.Title = "Create";
}
<div ng-controller="PicturesCtrl">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Product</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Pice)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Pice)
                @Html.ValidationMessageFor(model => model.Pice)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Category)
            </div>
            <div class="editor-field">
                @Html.DropDownList("CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Pictures)
            </div>
            <div class="editor-field">
                <ul class="thumbnails">
                    <li class="span3" ng-repeat="picture in selectedPictures()">
                        <div class="thumbnail">
                            <img ng-src="{{picture.ThumbnailUrl}}" alt="">
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Choose Pictures</button>
                <input type="hidden" name="pictures[]" value="{{selectedIds()}}" />
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IsPublished)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsPublished)
                @Html.ValidationMessageFor(model => model.IsPublished)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Modal header {{name}}</h3>
        </div>
        <div class="modal-body">
            <ul class="thumbnails">
                <li class="span3" ng-repeat="picture in pictures" ng-click="select(picture)">
                    <img ng-src="{{picture.ThumbnailUrl}}" alt="">
                    <p>{{picture.Test}}</p>
                </li>
            </ul>
            <span>{{selectedIds}}</span>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        PicturesCtrl = function ($scope, $http) {
            $scope.name = 'Test';
            $scope.pictures = [];
            $scope.selectedPictures = function () {
                return _($scope.pictures).where({ selected: true });
            };
            $scope.selectedIds = function () {
                return _($scope.selectedPictures()).pluck("Id");
            };
            $scope.selectedThumbnailUrls = function () {
                return _($scope.selectedIdsAsArray()).pluck("ThumbnailUrl");
            };

            $http.get('/api/pictures').success(function (data) {
                $scope.pictures = data;
            });

            $scope.select = function (picture) {
                if (picture.selected) { delete picture.selected; }
                else { picture.selected = true; }
            };
        }

    </script>
}
