@model Llprk.Web.UI.ViewModels.ProductEdit

@{
    ViewBag.Title = "Edit";
}

<div ng-controller="PicturesCtrl" class="col-xs-12">

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Edit</legend>

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("~/Views/Products/_Form.cshtml", Model)
        </fieldset>
    }

    @Html.Partial("~/Views/Products/_PictureDlg.cshtml")
</div>

@section Scripts {
    <script type="text/javascript">
        var allPictures = @(Html.Raw(Json.Encode(Model.AllPictures)));
        var assignedPictureIds = @Html.Raw(Json.Encode(Model.AssignedPictureIds))

        $('ul.thumbnails').sortable();
        $('form').addClass('form-horizontal');

        angular.bootstrap($('html'));
    </script>
}
