@model Llprk.Web.UI.Models.Order

@{
    ViewBag.Title = "Details";

    var shippedClass = Model.IsShipped ? "shipped" : null;
}

<div class="span12" >
    <fieldset>
        <legend class="@shippedClass">
            <div class="row clearfix">
            <span class="span3">ORDER #@Html.DisplayFor(m => m.OrderNumber)</span>
                @if(!Model.IsPaid) {
                    @Html.ActionLink("Invoice paid", "pay", new { id = Model.Id }, new { @class="btn btn-small" })
                }
                @if(!Model.IsShipped) {
                    @Html.ActionLink("Order shipped", "ship", new { id = Model.Id }, new { @class="btn btn-small" })
                }
            <span class="pull-right">@Model.CreatedAt.ToShortDateString()</span>
            </div>
        </legend>
            
        @Html.HiddenFor(m => m.Id)

        @if(Model.IsPaid) {
            <img src="@Url.Content("~/images/paid_stamp.png")" style="height:120px;position:absolute;right:100px;opacity:.5;" />
        }
        @if(Model.IsShipped) {
            <img src="@Url.Content("~/images/delivered_stamp.png")" style="position:absolute;right:0px;margin-top:15px;opacity:.5;" />
        }

        <div class="row">
            <div class="span6">
                <b>
                    @Html.DisplayFor(model => model.Salutation)<br />
                    @Html.DisplayFor(model => model.Firstname)
                    @Html.DisplayFor(model => model.Name)
                </b>

                @Html.DisplayFor(model => model.Address1)<br />
                @Html.DisplayFor(model => model.Address2)<br />
                @Html.DisplayFor(model => model.Zip)&nbsp;-&nbsp;@Html.DisplayFor(model => model.City)<br />
                @Html.DisplayFor(model => model.Country.Name)<br />
                @Html.DisplayFor(model => model.Email)

            </div>

            <div class="offset3 span3" style="text-align:right;">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span6">
                <h5>DETAILS</h5>
                <div class="display-label">
                    <table class="table">
                        @foreach (var ol in Model.OrderLines) {
                            <tr>
                                <td>
                                    @Html.ActionLink(@ol.Product.Name, "details", "products", new { id = @ol.ProductId }, null)
                                </td>
                                <td>
                                    @ol.Qty
                                </td>
                                <td style="text-align:right;">
                                   @ol.Product.Price.ToString("c") 
                                </td>
                            </tr>
                        }
                        <tfoot style="border-top:2px solid;">
                            <tr>
                                <td colspan="2" style="text-align:right;">
                                    Subtotal
                                </td>
                                <td style="text-align:right;">
                                    @Model.SubTotalPrice.ToString("c")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:right;">
                                    Shipping
                                </td>
                                <td style="text-align:right;">
                                    @Model.ShippingCosts.ToString("c")
                                </td>
                            </tr>
                            <tr style="border-top:2px solid;">
                                <td colspan="2" style="text-align:right;font-weight:bold;">
                                    Total
                                </td>
                                <td style="text-align:right;font-weight:bold;">
                                    @Model.TotalPrice.ToString("c")
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row form-actions">
            @using(Html.BeginForm("comment", "orders", new {id=Model.Id})) {
                <div class="span6">
                    <h5>NOTES</h5>
                    @Html.TextAreaFor(m => m.Comment, new { @class = "span6", rows = "5" })
                </div>
                <div class="span6">
                    <input type="submit" value="Speichern" class="btn btn-small btn-success" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-small" })
                </div>
            }
        </div>    

    </fieldset>
</div>
