@model Llprk.Web.UI.Models.Order

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Order @Html.DisplayFor(m => m.Id)</legend>
    @Html.HiddenFor(m => m.Id)

    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        <ul>
            @foreach (var ol in Model.OrderLines) {
                <li>
                    @ol.Qty x @Html.ActionLink(@ol.Product.Name, "details", "products", new { id = @ol.ProductId }, null)
                </li>
            }
        </ul>
    </div>

    <div class="display-field">
        Paid? @Html.EditorFor(model => model.Paid)
    </div>
    <div class="display-field">
        Shipped? @Html.EditorFor(model => model.Shipped)
    </div>

    <div class="display-label">
        @Html.TextAreaFor(m => m.Comment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-small" })
</p>
