@model IEnumerable<Llprk.Web.UI.Models.Order>

@{
    ViewBag.Title = "Index";

    var grid = new WebGrid(Model, 
        defaultSort: "Id",
        rowsPerPage: 20);
}

<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <h5>Orders</h5>
        </div>
        <div class="widget-content nopadding">
            @grid.GetHtml(
                tableStyle : "table table-striped table-bordered",
                columns: grid.Columns(
                    grid.Column("Id"),
                    grid.Column("Salutation"),
                    grid.Column("Firstname"),
                    grid.Column("Name"),
                    grid.Column("Address1"),
                    grid.Column("Address2"),
                    grid.Column("Zip"),
                    grid.Column("City"),
                    grid.Column("CountryCode"),
                    grid.Column("Email"),
                    grid.Column("Paid", format: @<text> @if(item.Paid) { <i class="icon-check"></i> } </text>),
                    grid.Column("Shipped", format: @<text> @if(item.Shipped) { <i class="icon-check"></i> } </text>),
                    grid.Column("Value", format: @<text>@item.TotalPrice.ToString("c")</text>, style: "align-right"),
                    grid.Column("Products", format:
                        @<text>
                            <ul>
                                @foreach(var ol in item.OrderLines) {
                                    <li>
                                        @ol.Qty x @Html.ActionLink((string)ol.Product.Name, "details", "products", new { id = ol.ProductId }, null)
                                    </li>
                                }
                            </ul>
                        </text>
                    ),
                    grid.Column(format: @<text><a href='@Url.Action("Details", new { id=item.Id })' class="btn btn-small"><i class="icon-edit"></i></a></text>)
                ))
        </div>
    </div>
</div>