@model Llprk.Web.UI.ViewModels.HomeIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
    h2 {
        margin: 0;
    }
</style>

<div class="container">
    <div class="row" style="padding-top:20px;">
        <div class="span12">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <a href="@Url.Action("blog", new { id=1})">
                            <img src="http://placehold.it/1170x300" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="@Url.Action("blog", new { id=2})">
                            <img src="http://placehold.it/1170x300" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="@Url.Action("blog", new { id=3})">
                            <img src="http://placehold.it/1170x300" />
                        </a>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>    
    <div class="row">
        <article class="span4">
            <a href="@Url.Action("blog", new {id=4})">
                <h4>Headline</h4>
                <img src="http://placehold.it/120x120" class="img-polaroid" style="float:left;margin: 0 1em 0 0;" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </a>
        </article>
        <article class="span4">
            <a href="@Url.Action("blog", new {id=4})">
                <h4>Headline</h4>
                <img src="http://placehold.it/120x120" class="img-polaroid" style="float:left;margin: 0 1em 0 0;" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </a>
        </article>
        <article class="span4">
            <a href="@Url.Action("blog", new {id=4})">
                <h4>Headline</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </a>
        </article>

    </div>
    
    <div class="row align-center" style="padding-bottom:20px;">
        <h2>Aus unserem Shop</h2>
        <div class="products">
            @foreach(var product in Model.Products) {
                <div class="span3 product">
                    <a href="@Url.Action("index", "shop")">
                        @if(@product.FirstPicture != null) {
                            <img src="@product.FirstPicture.PictureUrl" alt="@product.Name" />
                        }
                        <p><span>@product.Name <i>@product.Price.ToString("c")</i></span></p>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="row" style="">
        <div class="span4">
            <a href="@Url.Action("blog", new {id=4})">
                <h4>Headline</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </a>
        </div>
        <div class="span8">
            <a href="@Url.Action("blog", new {id=4})">
                <h4>Headline</h4>
                <img src="http://placehold.it/120x120" class="img-polaroid" style="float:left;margin: 0 1em 0 0;" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </a>
        </div>

    </div>

</div>
