@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
    cite {
        font-family: "Source Sans Pro", Arial, sans-serif;
        font-weight: 100;
        background: #DB6369;
        padding: 4px;
        line-height: 38px;
        color: white;
        padding-right: 8px;
        font-size: 24.5px;
        margin: 3px;
        display: inline-block;
		box-shadow: 2px 2px 2px rgba(0,0,0,.2); 
    }

        cite.inverted {
			color: #DB6369;
			background: white;
			font-weight: bold;
        }

    .container.paper {
		background: #f7f7f7;
		border: 1px solid #d8d8d8;
		box-shadow: 0 3px 6px rgba(0,0,0,.2);
		padding: 10px 0 30px 0;
		margin-top: 20px;
	}
    h4 {
		margin: 10px 10px;
    }
    p {
		margin: 0 20px;
    }
    .whatcanido {
		margin-top: 20px;
	}
    .whatcanido h3 { 
		text-align: right;
		line-height: 1em;
		margin: 0;
		font-family: "Source Sans Pro";
		font-weight: normal;
		opacity: .4;
    }
</style>

<div class="container paper">

<div>
    <div class="container">
        <div class="row">
			<cite style="margin-bottom:20px;">"ShowYourLove" ist...</cite>
            <div class="span12">
				<h4 style="text-align:center;">
... ein Freedom Project um Opfer des Menschenhandels zu unterstützen und die Gesellschaft für dieses Thema zu sensibilisieren.
				</h4>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px 0 10px;/*background:#C0D5EB;border-top:2px dashed #d8d8d8;border-bottom:2px dashed #d8d8d8;*/">
    <div class="container">
        <div class="row" style="margin-bottom:20px;">
			<cite>unsere mission</cite>
        </div>
        <div class="row">
            <div class="span4">
                <img src="@Url.Content("~/images/about/mission1.jpg")" class="img-polaroid" style="margin: 0 1em 0 0;" />
                <h4>SUPPORT Unterstützung</h4>
                <p>
                    Finanzielle Unterstützung der Opfer des
Menschenhandels -auf Dauer- durch
regelmäßige Abnahmen der Produkte aus
Kambodscha.
                </p>
            </div>
            <div class="span4">
                <img src="@Url.Content("~/images/about/mission2.jpg")" class="img-polaroid" style="margin: 0 1em 0 0;" />
                <h4>AWARENESS Aufklärung</h4>
                <p>
                    Veränderung und Umdenken in der
Gesellschaft vor Ort, Bewusstsein über
Menschenhandel, Prävention.
                </p>
            </div>
            <div class="span4">
                <img src="@Url.Content("~/images/about/mission3.jpg")" class="img-polaroid" style="margin: 0 1em 0 0;" />
                <h4>NEW TREND Neuer Trend</h4>
                <p>
                    Eröffnen von Verkaufsmöglichkeiten für
Sak Saum in Europa, um deren Produkte in
ihrer Ausgefallenheit und Besonderheit
anzubieten.
                </p>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px 0;margin-top:10px;background:#EBD581;">
    <div class="container">
        <div class="row">
			<cite>why ShowYourLove?</cite>
        </div>
        <div class="row">
            <div class="span4">
                <h4>Junge Frauen...</h4>
                <p>
                    ...gefesselt, entführt, misshandelt, ausgebeutet und
ausgestoßen, manchmal sogar von ihren eigenen Familien oder
Menschen, die ihnen nahe stehen! Was bleibt, ist innere Zerbrochenheit,
Hoffnungslosigkeit, Minderwertigkeitsgefühle, Scham, tiefe seelische
Wunden und Verzweiflung, die jedes Lebensgefühl auslöscht.
                </p>
            </div>
            <div class="span4">
                <h4>Menschenhandel...</h4>
                <p>
                    ...ist eine moderne Form der Sklaverei und passiert
weltweit. Auch in Europa ist Menschenhandel verbreitet. Vor allem in den
ärmlichen Ländern Osteuropas ist der Menschenhandel sehr real. Junge
Frauen und Kinder werden mit rosigen Versprechungen auf ein besseres
Leben in den Westen gelockt. Pässe werden einkassiert und für die
meisten Frauen gibt es kein Zurück mehr in ihr Heimatland. Entlang der
Grenze zu Tschechien überqueren täglich ca. 6000 Freier die Grenze um
sich dort ein exotisches Vergnügen zu gönnen.
                </p>
            </div>
            <div class="span4">
                <h4>our story</h4>
                <p>
                    Wir waren vor Ort und haben junge Frauen kennen gelernt, denen es mit
Hilfe von Sak Saum in Kambodscha gelungen ist, einen Ausstieg aus
ihren hoffnungslosen Lebensumständen zu schaffen. Es liegt uns am
Herzen diesen jungen Frauen regelmäßig zu helfen. Aus diesem Grund
importieren und verkaufen wir deren Produkte.
“TaschenParty” ist ein Freedom Project um Opfer des Menschenhandels
zu unterstützen und die Gesellschaft für dieses Thema zu sensibilisieren.
                </p>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px 0; background: #DB6369; color: #fff;">
    <div class="container">
        <div class="row">
        </div>
        <div class="row whatcanido">
            <div class="span4">
				<cite class="inverted">Was kann ich tun?</cite>
            </div>
			<div class="span8">
				<div class="row">
                    <div class="span1"> <h3>1</h3> </div>
					<div class="span3"> Erwirb eine Tasche (TaschenParty, OnlineShop, Dawanda, Facebook).  </div>
                    <div class="span1"> <h3>3</h3> </div>
					<div class="span3"> Sei mit dabei!  (als Partner, Partner-Offline-Shop, ehrenamtlicher- oder freiwilliger Helfer)</div>
                    <div class="span1"> <h3>2</h3> </div>
					<div class="span3"> Sei Gastgeber einer Taschenparty (Zuhause, Arbeitsplatz, Verein, Gemeinde, etc.)</div>
                    <div class="span1"> <h3>4</h3> </div>
					<div class="span3"> Spende (für dieses Projekt)</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div style="padding: 20px 0;">
    <div class="container">
        <div class="row" style="margin-bottom:20px;">
			<cite class="inverted">about our partner SaK Saum</cite>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="span4 offset2">
                <img src="@Url.Content("~/images/about/peah.jpg")" width="260" class="img-polaroid pull-right" />
            </div>
            <div class="span4">
                <cite>“Bevor ich nach Sak Saum kam</cite>
                <cite>dachte ich, mein Leben sei</cite>
                <cite>hoffnungslos. Jetzt verstehe ich,</cite>
                <cite>dass mein Leben Sinn hat und</cite>
                <cite>wertvoll ist.” </cite>
                <em>- Peahs Zeugnis</em>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px 0; margin-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="span4">
                <cite>Sak Saum bedeutet WÜRDE </cite>
		<br />
                <cite>Wiederherstellung der Würde </cite>
                <p>
                    Ginny Hanson gründete Sak Saum
2009, kurz nachdem sie Theavy
und deren Schicksal kennen
gelernt hatte. Ginny ist Sak Saums
internationale Direktorin und
arbeitet zusammen mit ihrer
Familie in Kambodscha.
                </p>

            </div>
            <div class="span8">
                <img src="@Url.Content("~/images/about/saksaum.jpg")" class="img-polaroid" style="float: left; margin: 0 1em 0 0;" />
                <h4>Das Anliegen</h4>
                <p">
                    <em>Sak Saums Anliegen ist es</em>, Frauen in Kambodscha eine neue Zukunft
und Hoffnung zu ermöglichen und den zerstörenden Kreislauf des
Menschenhandels und Missbrauchs zu beenden. Die jungen Frauen
lernen, wunderschöne Textilprodukte, Taschen und Schmuck
herzustellen. Durch ihre Arbeit wird ihnen ein Fair-Trade-Einkommen,
eine Krankenversicherung und ein
neues Zuhause gesichert.
                </p>
            </div>
        </div>
    </div>
</div>
</div>

@section scripts {
    <script>
    	$(function () {
            $('cite, img').not('#showyourlove').each(function(i, e) {
                var rotate = Math.floor((Math.random()*6)+1)-3;  
                $(e)
                    .animate({ rotate: '+='+rotate+'deg' }, 0);
            });

    	});
    </script>
}