@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
    cite {
    }

    h3, h2 {
		color: #666;
		border-bottom: 1px solid #d6d6d6;
		font-weight: normal;
		font-family: Georgia;
    }
    h4 {
    }
    strong {
		color: #666;
	}
    p {
    }
    section {
		margin: 20px 0 30px;
	}
</style>


<section>
    <div class="container">
        <div class="row">
            <div class="span12 align-center">
				<img src="@Url.Content("~/images/syl-banner.png")" alt="S.Y.L" style="" />
			    <h3 style="border:none;margin-top:30px;">"ShowYourLove" ist...
... ein Freedom Project um Opfer des Menschenhandels zu unterstützen und die Gesellschaft für dieses Thema zu sensibilisieren.
				</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
				<h4>unsere mission</h4>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <strong>SUPPORT Unterstützung</strong>
                <img src="@Url.Content("~/images/about/mission1.jpg")" class="" />
                <p>
                    Finanzielle Unterstützung der Opfer des
Menschenhandels -auf Dauer- durch
regelmäßige Abnahmen der Produkte aus
Kambodscha.
                </p>
            </div>
            <div class="span4">
                <strong>AWARENESS Aufklärung</strong>
                <img src="@Url.Content("~/images/about/mission2.jpg")" class=""/>
                <p>
                    Veränderung und Umdenken in der
Gesellschaft vor Ort, Bewusstsein über
Menschenhandel, Prävention.
                </p>
            </div>
            <div class="span4">
                <strong>NEW TREND Neuer Trend</strong>
                <img src="@Url.Content("~/images/about/mission3.jpg")" class="" />
                <p>
                    Eröffnen von Verkaufsmöglichkeiten für
Sak Saum in Europa, um deren Produkte in
ihrer Ausgefallenheit und Besonderheit
anzubieten.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
				<h4>why ShowYourLove?</h4>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <strong>Junge Frauen...</strong>
                <p>
                    ...gefesselt, entführt, misshandelt, ausgebeutet und
ausgestoßen, manchmal sogar von ihren eigenen Familien oder
Menschen, die ihnen nahe stehen! Was bleibt, ist innere Zerbrochenheit,
Hoffnungslosigkeit, Minderwertigkeitsgefühle, Scham, tiefe seelische
Wunden und Verzweiflung, die jedes Lebensgefühl auslöscht.
                </p>
            </div>
            <div class="span4">
                <strong>Menschenhandel...</strong>
                <p>
                    ...ist eine moderne Form der Sklaverei und passiert
weltweit. Auch in Europa ist Menschenhandel verbreitet. Vor allem in den
ärmlichen Ländern Osteuropas ist der Menschenhandel sehr real. Junge
Frauen und Kinder werden mit rosigen Versprechungen auf ein besseres
Leben in den Westen gelockt. Pässe werden einkassiert und für die
meisten Frauen gibt es kein Zurück mehr in ihr Heimatland. Entlang der
Grenze zu Tschechien überqueren täglich ca. 6000 Freier die Grenze um
sich dort ein exotisches Vergnügen zu gönnen.
                </p>
            </div>
            <div class="span4">
                <strong>our story</strong>
                <p>
                    Wir waren vor Ort und haben junge Frauen kennen gelernt, denen es mit
Hilfe von Sak Saum in Kambodscha gelungen ist, einen Ausstieg aus
ihren hoffnungslosen Lebensumständen zu schaffen. Es liegt uns am
Herzen diesen jungen Frauen regelmäßig zu helfen. Aus diesem Grund
importieren und verkaufen wir deren Produkte.
“ShowYourLove” ist ein Freedom Project um Opfer des Menschenhandels
zu unterstützen und die Gesellschaft für dieses Thema zu sensibilisieren.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
				<h4>Was kann ich tun?</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ol>
					<li class="span12">
						<strong>Erwirb eine Tasche...</strong>
						...Um dieses Projekt und damit die Opfer des Menschenhandels in Kambodscha zu unterstützen.
						<ul>
							<li>auf einer Taschenparty</li>
							<li>in unserem Online-Shop lillypark.com </li>
							<li>in unserem Dawanda-Shop taschenparty.net</li>
						</ul>
					</li>
					<li class="span12">
						<strong>Sei Gastgeber einer Taschenparty...</strong>
						... Spaß haben mit Freunden, ausgefallene Taschen auszuprobieren und durch einen Einkauf auch noch etwas Gutes tun. Wir geben einen Einblick, in das Leben und die Situation der jungen Frauen in Kambodscha und informieren über Menschenhandel generell.)
					</li>
					<li class="span12">
						<strong>Sei dabei...</strong>
						...Rede darüber, mache die Sache bekannt, werde freiwilliger Mitarbeiter.
					</li>
					<li class="span12">
						<strong>"Like" uns...</strong>
						...Werde unser Fan auf Facebook und “teile” Bilder, Events, Infos deinen Freunden mit.
					</li>
					<li class="span12">
						<strong>Give...</strong> 
						...Mit deiner Spende kann diese Arbeit weiterhin bestehen und ausgebaut werden.
					</li>

				</ol>
			</div>
		</div>
	</div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
				<h4>about our partner SaK Saum</h4>
            </div>
        </div>
        <div class="row">
            <div class="span4 offset2">
                <img src="@Url.Content("~/images/about/peah.jpg")" width="260" class="pull-right" />
            </div>
            <div class="span4">
                <cite>“Bevor ich nach Sak Saum kam</cite>
                <cite>dachte ich, mein Leben sei</cite>
                <cite>hoffnungslos. Jetzt verstehe ich,</cite>
                <cite>dass mein Leben Sinn hat und</cite>
                <cite>wertvoll ist.” </cite>
                <em>- Peahs Zeugnis</em>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>Sak Saum bedeutet WÜRDE - Wiederherstellung der Würde </h4>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <img src="@Url.Content("~/images/about/saksaum.jpg")" class="" style="float: left; margin: 0 1em 0 0;" />
            </div>
            <div class="span8">
                <p>
                    Ginny Hanson gründete Sak Saum
2009, kurz nachdem sie Theavy
und deren Schicksal kennen
gelernt hatte. Ginny ist Sak Saums
internationale Direktorin und
arbeitet zusammen mit ihrer
Familie in Kambodscha.
                </p>
                <strong>Das Anliegen</strong>
                <p>
                    <em>Sak Saums Anliegen ist es</em>, Frauen in Kambodscha eine neue Zukunft
und Hoffnung zu ermöglichen und den zerstörenden Kreislauf des
Menschenhandels und Missbrauchs zu beenden. Die jungen Frauen
lernen, wunderschöne Textilprodukte, Taschen und Schmuck
herzustellen. Durch ihre Arbeit wird ihnen ein Fair-Trade-Einkommen,
eine Krankenversicherung und ein
neues Zuhause gesichert.
                </p>

            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
    	//$(function () {
        //    $('cite, img').not('#showyourlove').each(function(i, e) {
        //        var rotate = Math.floor((Math.random()*6)+1)-3;  
        //        $(e)
        //            .animate({ rotate: '+='+rotate+'deg' }, 0);
        //    });

    	//});
    </script>
}