@using Newtonsoft.Json
@model Llprk.Web.UI.Areas.Store.Models.CheckoutIndex
@{
    Layout = null;
    var cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div id="order">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Zur Kasse</h3>
                <small class="text-muted">
                    Nachdem Ihre Zahlung bei uns eingegangen ist werden die bestellten Produkte sofort an Sie verschickt. Bitte 
                    beachten Sie, dass Ihre Bestellung automatisch storniert wird, wenn kein Zahlungseingang innerhalb der 
                    Zahlungsfrist festgestellt werden konnte. Wir danken für Ihr Verständnis.
                </small>
            </div>
        </div>
        <form method="post" action="@Url.Action(MVC.Store.Checkout.Index())" data-bind="submit: submit" class="form form-horizontal">
            <div class="col-xs-12 col-sm-7 delivery-address">
@*                <div class="row" data-bind="visible:errors.isValid">
                    <div id="error_explanation">
                        <div class="alert alert-danger">Bitte korrigieren Sie folgende Fehler:</div>
                    </div>
                </div>*@

                <div class="row">
                    <h4>Über den Kunden</h4>
                </div>
                <textbox params="label:'E-Mail', value:model.email, attr: { placeholder: 'E-Mail' }"></textbox>

                <div class="row">
                    <h4>Lieferadresse</h4>
                </div>
                <div data-bind="template: { name: 'address-template', data: model.deliveryAddress }"></div>


                <div class="row">
                    <h4 style="display:inline-block;margin-right:2em;">Rechnungsadresse</h4>
                    <span>
                        <input type="checkbox" data-bind="checked:model.sameAddress" />
                        Wie Lieferadresse
                    </span>
                </div>
                @*<radiobuttons params="options:['Wie Lieferadresse', 'Andere Adresse verwenden']"></radiobuttons>*@
                <!-- ko ifnot: model.sameAddress() -->
                <div data-bind="template: { name: 'address-template', data: model.billingAddress }"></div>
                <!-- /ko -->
            </div>
            <div class="col-sm-4 col-xs-12 col-sm-offset-1 summary">
            <div class="row">
                <h4>Bestellübersicht</h4>
                <ul>
                @foreach (var lineItem in Model.LineItems)
                {
                    <li class="line-item">
                        @lineItem.Qty x @lineItem.Name
                        <span>@lineItem.Subtotal</span>
                    </li>
                }
                </ul>
                <p class="sub-total">
                    Zwischensumme:
                    <span>@Model.SubTotal.ToString("C")</span>
                </p>
                <p class="shipping-cost">
                    Versand:
                    <span data-bind="text:shippingCosts">@Model.ShippingCosts.ToString("C")</span>
                </p>
                <p class="taxes">
                    Steuern:
                    <span data-bind="text:tax">@Model.Tax.ToString("C")</span>
                </p>
                <p class="total">
                    <h4>
                        Gesamt:
                        <span data-bind="text:total">@Model.Total.ToString("C")</span>
                    </h4>
                </p>
            </div>
            <div class="row payment">
                <h4>Zahlungsart</h4>
                <div class="form-group">
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :wire, checked: true %>
                        <span>Überweisung</span>
                    </div>
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :paypal %>
                        <%= image_tag("paypal@2.png", width:'100px') %>
                    </div>
                </div>
            </div>
            <div class="row place-order">
                <div class="col-xs-12 accept-terms <%= if accepted == true then '' else 'error' end %> ">
                    <div class="row">
                        <div class="col-sm-1 col-xs-2">
                            <input type="checkbox" data-bind="checked: model.accepted" />
                        </div>
                        <div class="col-sm-11 col-xs-10">
                            <p>
                                Hiermit erkläre ich, dass ich die AGB zur Kenntnis genommen und akzeptiert habe.
                                <br/>
                                Ich wurde über meine Widerrufsrecht informiert.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="row" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-primary" data-bind="enable: isValid">Bestellung abschicken</button>
                    </p>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script type="text/template" id="address-template">
    <dropdown params="label:'Anrede',options:['Frau','Herr'],value:salutation"></dropdown>
    <formgroup params="label:'Vor-/Nachname',value:$data">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" data-bind="text: value.firstname" class="form-control" placeholder="Vorname" />
            </div>
            <div class="col-xs-6">
                <input type="text" data-bind="text: value.lastname" class="form-control" placeholder="Nachname" />
            </div>
        </div>
    </formgroup>
    <textbox params="label:'Adresszusatz/Firma',value:address1,attr:{placeholder:'Adresszusatz'}",></textbox>
    <textbox params="label:'Strasse, Nr.', value:address2,attr:{placeholder:'Strasse, Nr'}"></textbox>
    <formgroup params="label:'Plz/Ort',value:$data">
        <div class="row">
            <div class="col-xs-4">
                <input type="text" data-bind="text: value.zip" class="form-control" placeholder="Plz" />
            </div>
            <div class="col-xs-8">
                <input type="text" data-bind="text: value.city" class="form-control" placeholder="Ort" />
            </div>
        </div>
    </formgroup>
    <formgroup params="label:'Land', value:countryId">
        <select data-bind="value:value" class="form-control">
            @foreach(var country in @Model.Countries) {
                <option value="@country.Id">@country.Name</option>
            }
        </select>
    </formgroup>
</script>
    
<script src="@Url.Content("~/Scripts/almond.js")"></script>
@Scripts.Render("~/bundles/store")
<script type="text/javascript">
    require(["app/main", "app/checkout/index"], function (main, index) {
        var culture = '@cultureName';
        Globalize.culture(culture);

        index({
            lineItems: @Html.Raw(JsonConvert.SerializeObject(Model.LineItems, System.Web.Http.GlobalConfiguration.Configuration.Formatters.JsonFormatter.SerializerSettings)),
            subTotal: @JsonConvert.SerializeObject(@Model.SubTotal),
            tax: @JsonConvert.SerializeObject(@Model.Tax),
            shippingCosts: @JsonConvert.SerializeObject(@Model.ShippingCosts),
            total: @JsonConvert.SerializeObject(@Model.Total),
            checkoutShippingCostsUrl: '@Url.Action(MVC.Store.Checkout.VariableCosts())'
        });
    });
</script>

