@model Llprk.Web.UI.Areas.Store.Models.CheckoutIndex
@{
    Layout = null;
    var cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div id="order">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Zur Kasse</h3>
                <small class="text-muted">
                    Nachdem Ihre Zahlung bei uns eingegangen ist werden die bestellten Produkte sofort an Sie verschickt. Bitte 
                    beachten Sie, dass Ihre Bestellung automatisch storniert wird, wenn kein Zahlungseingang innerhalb der 
                    Zahlungsfrist festgestellt werden konnte. Wir danken für Ihr Verständnis.
                </small>
            </div>
        </div>
        <form method="post" action="@Url.Action(MVC.Store.Checkout.Index())" class="form form-horizontal">
            <div class="col-xs-12 col-sm-7 delivery-address">
                <div class="row">
                    <% if order.errors.any? %>
                    <div id="error_explanation">
                        <div class="alert alert-danger">Bitte korrigieren Sie folgende Fehler:</div>
                        <!-- <ul> -->
                        <!--     <% order.errors.full_messages.each do |msg| %> -->
                        <!--         <li><%= msg %></li> -->
                        <!-- <% end %> -->
                        <!-- </ul> -->
                    </div>
                    <% end %>
                </div>

                <div class="row">
                    <h4>Über den Kunden</h4>
                </div>
                <textbox params="label:'E-Mail', value:model.email"></textbox>

                <div class="row">
                    <h4>Lieferadresse</h4>
                </div>
                <div data-bind="template: { name: 'address-template', data: model.lieferadresse }"></div>

                <checkboxes params="options:['Rechnungsadresse wie Lieferadresse']"></checkboxes>

                <div class="row">
                    <h4>Rechnungsadresse</h4>
                </div>
                <div data-bind="template: { name: 'address-template', data: model.lieferadresse }"></div>
            </div>
            <div class="col-sm-4 col-xs-12 col-sm-offset-1 summary">
            <div class="row">
                <h4>Bestellübersicht</h4>
                <ul>
                @foreach(var lineItem in Model.LineItems) {
                    <li class="line-item">
                        @lineItem.Qty x @lineItem.Product.Name
                        <span><%= number_to_currency item.sub_total %></span>
                    </li>
                }
                </ul>
                <p class="sub-total">
                    Zwischensumme:
                    <span data-value="<%= cart.sub_total_price %>"><%= number_to_currency cart.sub_total_price %></span>
                </p>
                <p class="shipping-cost">
                    Versand:
                    <span><%= number_to_currency 0 %></span>
                </p>
                <p class="taxes">
                    Steuern:
                    <span><%= number_to_currency 0 %></span>
                </p>
                <p class="total">
                    Gesamt:
                    <span><%= number_to_currency cart.sub_total_price %></span>
                </p>
            </div>
            <div class="row payment">
                <h4>Zahlungsart</h4>
                <div class="form-group">
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :wire, checked: true %>
                        <span>Überweisung</span>
                    </div>
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :paypal %>
                        <%= image_tag("paypal@2.png", width:'100px') %>
                    </div>
                </div>
            </div>
            <div class="row place-order">
                <div class="col-xs-12 accept-terms <%= if accepted == true then '' else 'error' end %> ">
                    <div class="row">
                        <div class="col-sm-1 col-xs-2">
                            <input type="checkbox" />
                        </div>
                        <div class="col-sm-11 col-xs-10">
                            <p>
                                Hiermit erkläre ich, dass ich die AGB zur Kenntnis genommen und akzeptiert habe.
                                <br/>
                                Ich wurde über meine Widerrufsrecht informiert.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="row" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-primary">Bestellung abschicken</button>
                    </p>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script type="text/template" id="address-template">
    <dropdown params="label:'Anrede',options:['Frau','Herr'],value:anrede"></dropdown>
    <textbox params="label:'Vorname',value:vorname"></textbox>
    <textbox params="label:'Nachname',value:nachname"></textbox>
    <textbox params="label:'Adresszusatz/Firma'"></textbox>
    <textbox params="label:'Strasse, Nr.'"></textbox>
    <doubletext params="label:'PLZ / Ort'"></doubletext>
    <dropdown params="label:'Land',options:['Österreich (+ €5,40)']"></dropdown>
</script>
    
<script src="@Url.Content("~/Scripts/almond.js")"></script>
@Scripts.Render("~/bundles/store")
<script type="text/javascript">
    require(["app/main", "app/checkout/index"], function (main, index) {
        var culture = '@cultureName';
        Globalize.culture(culture);

        index({ });
    });
</script>

