@model Llprk.Web.UI.ViewModels.PictureDelete

@{
    ViewBag.Title = "Delete";

    var deleteDisabled = Model.Products.Count() > 0 ? "disabled" : null;
}


<div class="span12">
    @using (Html.BeginForm()) {
        <fieldset>
            <legend>Are you sure you want to delete this?<span class="badge">@Model.Products.Count()</span></legend>
            <img src="@Model.Picture.PictureUrl" />
            <div class="control-group">
                @if(Model.Products.Count() > 0) {
                    <legend>Products that use this picture:</legend>
                    <label class="control-label">Used in</label>
                    <div class="controls">
                        <ul>
                            @foreach (var p in Model.Products) {
                                <li>
                                    @Html.ActionLink(p.Name, "edit", "products", new {id=p.Id}, null)
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-small btn-danger @deleteDisabled" @deleteDisabled />
            <small class="muted">or</small>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
