

{% if product.has_picture %}
	<a href="{{ product.url }}">
    	<img src="{{ product.featured_picture.url }}"></img>
	</a>
  	<ul>
    	{% comment %}
    	{% for picture in product.pictures %}
    	<li>
      		<img src="{{ picture.thumbnail_url }}" width="100%" />
    	</li>
    	{% endfor %}
    	{% endcomment %}
  	</ul>
{% endif %}
<h3>
  <a href="{{ product.url }}">{{ product.name }}</a>
</h3>
Preis {{ product.price | price }}
  
{% comment %}
{{product.description | prettyprint | paragraph }}
{% endcomment %}
