@model Llprk.Web.UI.Models.Tag

@{
    ViewBag.Title = "Edit";
}

<div class="col-xs-12">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Edit</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="control-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-small btn-success" />
                <small class="muted">or</small>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('form').addClass('form-horizontal');
    </script>
}
