<!DOCTYPE html>
<html class="no-js" ng-app="ShopApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>lillypark</title>
    <meta charset="utf-8">
    <meta name="keywords" lang="de" content="lillypark,Tasche,Taschen,Bag,Sak Saum">
    <meta name="description" lang="de" content="Fair Trade gegen Menschenhandel - Handgemachte, Unikate Taschen & Accessories ab 9 €. Mehr als nur schöne Taschen - Unterstütze Frauen die von Menschenhandel betroffen sind!">
	
  	{{ content_for_head }}
  
	{{ 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700' | stylesheet_tag }}
	{{ 'bootstrap.css' | stylesheet_tag }}
	{{ 'theme.css' | stylesheet_tag }}
</head>
<body>
    <!--[if lt IE 9]>
        <p class="chromeframe alert alert-error">
            Hoppla. Du verwendest einen alten Browser. 
            <a href="http://browsehappy.com/">Bring Deinen Browser heute auf den neuesten Stand</a> oder 
            <a href="http://www.google.com/chromeframe/?redirect=true">installiere Google Chrome Frame</a> um dieses Seite richtig anzuzeigen.
        </p>
    <![endif]-->
  <a href="/"><img src="{{ 'lillypark.png' | image_url }}"></img></a>
  
	{{ content_for_layout }}

	{{ 'jquery-1.9.1.js' | script_tag }}
  
  	{{ theme_designer_support }}

</body>
</html>