@using Llprk.Web.UI.Extensions
<!DOCTYPE html>
@{
    var controllerName = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

    var categoriesActive = controllerName == "categories" ? "active" : null;
    var productsActive = controllerName == "products" ? "active" : null;
    var pagesActive = controllerName == "pages" ? "active" : null;
    var themesActive = controllerName == "themes" ? "active" : null;
    var ordersActive = controllerName == "orders" ? "active" : null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>llprk - @ViewBag.Title</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="scripts/innershiv.min.js"></script>
        <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="persistent top">
        <h2>lillypark</h2>
        <nav class="">
            <h2>&nbsp;</h2>
            <a href="@Url.Action(MVC.Admin.Pages.Index())" class="@productsActive">Pages</a>
            <a href="@Url.Action(MVC.Admin.Products.Index())" class="@productsActive">Products</a>
            <a href="@Url.Action(MVC.Admin.Orders.Index())" class="orders @ordersActive">Orders</a>
            <ul class="orders dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="@Url.Action(MVC.Admin.Orders.Index())">All</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "orders", new {filter="paid"})">Paid</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "orders", new {filter="shipped"})">Shipped</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="@Url.Action("index", "orders", new {filter="ready"})">Read to ship</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "orders", new {filter="overdue"})">Overdue</a></li>
            </ul>
            <a href="@Url.Action(MVC.Admin.Themes.Index())" class="orders @themesActive">Themes</a>
            <a href="#" class="config @categoriesActive">Config</a>
            <ul class="config dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="@Url.Action("index", "categories")">Categories</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "tags")">Tags</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "countries")">Countries</a></li>
              <li><a tabindex="-1" href="@Url.Action("index", "shippingcosts")">Shipping Costs</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="@Url.Action(MVC.Admin.Parameters.Index())">Mail messages</a></li>
            </ul>
        </nav>
    </header>

    <div id="main" class="container-fluid">
        @RenderSection("featured", required: false)
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - lillypark.com</p>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("~/Scripts/almond.js")"></script>
    @Scripts.Render("~/bundles/admin")

    <script src="@Url.Content(string.Format("~/Scripts/globalize/cultures/globalize.culture.{0}.js", cultureName))"></script>

    <script type="text/javascript">
        var culture = '@cultureName';
        Globalize.culture(culture);

        require(["app/main"], function (main, toastr) {
        });
    </script>

    @RenderSection("scripts", required: false)
    <script>
        CKEDITOR.basePath = '@Url.Content("~/Scripts")/';
        CKEDITOR.replaceAll(function (textarea, config) {
            config.customConfig = '';
            config.autoGrow_onStartup = true;
            config.contentsCss = '';
            config.height = '300px';
            config.toolbarGroups = [
                { name: 'document', groups: ['mode', 'document', 'doctools'] },
                // On the basic preset, clipboard and undo is handled by keyboard.
                // Uncomment the following line to enable them on the toolbar as well.
                // { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
                { name: 'editing', groups: ['find', 'selection', 'spellchecker'] },
                { name: 'forms' },
                { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align'] },
                { name: 'links' },
                { name: 'insert' },
                { name: 'styles' },
                { name: 'colors' },
                { name: 'tools' },
                { name: 'others' }
            ];

            // The default plugins included in the basic setup define some buttons that
            // we don't want too have in a basic editor. We remove them here.
            config.removeButtons = 'Anchor,Underline,Strike,Subscript,Superscript';

            // Considering that the basic setup doesn't provide pasting cleanup features,
            // it's recommended to force everything to be plain text.
            config.forcePasteAsPlainText = true;

            // Let's have it basic on dialogs as well.
            config.removeDialogTabs = 'link:advanced';

            return !$(textarea).hasClass('no-richtext');
        });
    </script>
	@Html.Analytics("UA-41833314-2", "lillypark.com")
</body>
</html>

