@model Llprk.Web.UI.ViewModels.ParameterIndex

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="span12">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#ordered">@Html.LabelFor(m => m.MailMessageOrdered)</a></li>
                <li><a href="#paid">@Html.LabelFor(m => m.MailMessagePaid)</a></li>
                <li><a href="#shipped">@Html.LabelFor(m => m.MailMessageShipped)</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="ordered">
                    <div class="row">
                        <div class="span6">
                            @Html.TextAreaFor(model => model.MailMessageOrdered, new { @class = "input-xxlarge" })
                            <p>
                                @Html.ValidationMessageFor(model => model.MailMessageOrdered)
                            </p>
                        </div>
                        <div class="span6">
                            <pre id="Output_MailMessageOrdered"></pre>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="paid">
                    <div class="row">
                        <div class="span6">
                            @Html.TextAreaFor(model => model.MailMessagePaid, new { @class = "input-xxlarge" })
                            <p>
                                @Html.ValidationMessageFor(model => model.MailMessagePaid)
                            </p>
                        </div>
                        <div class="span6">
                            <pre id="Output_MailMessagePaid"></pre>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="shipped">
                    <div class="row">
                        <div class="span6">
                            @Html.TextAreaFor(model => model.MailMessageShipped, new { @class = "input-xxlarge" })
                            <p>
                                @Html.ValidationMessageFor(model => model.MailMessageShipped)
                            </p>
                        </div>
                        <div class="span6">
                            <pre id="Output_MailMessageShipped"></pre>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-small btn-success" />
            </div>
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mustache")
    <script>
    	var dummyOrder = @Html.Raw(Json.Encode(ViewBag.DummyOrder));
    	$(function () {
    		$('#myTab a').click(function (e) {
    			e.preventDefault();
    			$(this).tab('show');
    		})

    		for (var i in CKEDITOR.instances) {
    			CKEDITOR.instances[i].on('key', function(e) {
    				var result = Mustache.to_html(e.editor.getData(), dummyOrder);
					
    				var id = 'Output_'+e.editor.name;
    				$('#'+id).html(result);
    			});
    		}
    	});
    </script>
}

