@model IEnumerable<Llprk.DataAccess.Models.Product>
@*        <div class="col-xs-3">
            <h2 class="categoryName">@Model.Category.Name</h2>
            <a href="@Url.Action("index", "shop", new {id = Model.Category.Id }, null)#@Model.Category.Id">alle anzeigen...</a>
        </div>*@

            <div class="row products">
            @foreach(var product in Model) {
                <div class="col-xs-6 col-sm-4 col-md-3 product">
                    <a href="@Url.Action("details", new { Id=product.Id })">
                        @if(@product.FirstPicture != null) {
                            <img class="lazy" 
								 data-original="@product.FirstPicture.PictureUrl" 
								 src="@Url.Content("~/images/spinner.gif")" 
								 alt="@product.Name" />
                        }
						@if (product.IsNew) {
							<h4>@product.Name&nbsp;<small>NEU</small></h4>
						}
                        <p class="info">@Html.Raw(product.ShortDescription)</p>
                        <p class="info"><span class="price hidden">€@product.Price.ToString("n")</span></p>
                    </a>
                </div>
            }
            </div>
