@model Llprk.Web.UI.Areas.Admin.Models.ThemeContent
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json
@{
    Layout = null;
}
<div class="fileactions">
    <a href="#" class="btn btn-success pull-right save_@Model.UID">Save</a>
</div>
<div id="@Model.UID" class="content"> </div>

<script type="text/javascript">
    require(["jquery", "toastr",
        "codemirror",
        "codemirror/addons/modes/overlay",
        "codemirror/modes/htmlmixed/htmlmixed",
        "codemirror/modes/liquid/liquid"], function ($, toastr, CodeMirror) {

        $('.nav-tabs a:last').tab('show');

        var editor = new CodeMirror($('#@Model.UID')[0], {
            mode: '@Model.EditorMode',
            lineNumbers: true,
            autofocus: true,
            height: 'auto',
            extraKeys: {
                "Ctrl-S": function(instance) { $('a.save_@Model.UID').click(); }
            },
            value: @Html.Raw(JsonConvert.SerializeObject(Model.Content))
        });
        setTimeout(function() { editor.refresh(); }, 1);

        // Save...
        $('a.save_@Model.UID').click(function() {
            var payload = {
                id : '@Model.Id',
                type : '@Model.Type',
                theme : '@Model.Theme',
                
                content : editor.getValue()
            };

            $.when($.postJSON('@Url.Action(MVC.Admin.Themes.UpdateItem())', payload))
            .then(function() { toastr.success('Saved'); })
            .fail(function() { toastr.error('O_o'); });
        });
    });
</script>
