@model Llprk.Web.UI.ViewModels.ShopCategory
<div class="row align-center">
    <div class="products" id="@Model.Category.Id">
        <div class="span3">
            <h2 class="categoryName">@Model.Category.Name</h2>
            <a href="@Url.Action("index", "shop", new {id = Model.Category.Id }, null)#@Model.Category.Id">alle anzeigen...</a>
        </div>

        <div class="span9">
            <div class="row products">
            @for(var i=0; i<1; i+=1) {
            foreach(var product in Model.Products) {
                <div class="span3" class="product">
                    <a href="@Url.Action("details", new { Id=product.Id })">
                        @if(@product.FirstPicture != null) {
                            <img src="@product.FirstPicture.PictureUrl" alt="@product.Name" />
                        }
                        <p><span>@product.Name <i>@product.Price.ToString("c")</i></span></p>
                    </a>
                </div>
            }
            }
            </div>

        </div>
    </div>
    <div class="clearfix" ></div>
</div>
<hr />