@model IEnumerable<Llprk.Web.UI.Models.Product>
@*        <div class="span3">
            <h2 class="categoryName">@Model.Category.Name</h2>
            <a href="@Url.Action("index", "shop", new {id = Model.Category.Id }, null)#@Model.Category.Id">alle anzeigen...</a>
        </div>*@

            <div class="row products">
                <div class="span4 product hide">
                    <a href="@Url.Action("showyourlove", "home")">
						<img class="lazy" 
							 style="padding-top:10px;"
							 data-original="@Url.Content("~/Images/syl.png")"
							 src="@Url.Content("~/images/spinner.gif")" 
							 alt="ShowYourLove" />
						<h4> &nbsp; </h4>
                    </a>
                </div>
            @foreach(var product in Model) {
                <div class="span4 product">
                    <a href="@Url.Action("details", new { Id=product.Id })">
                        @if(@product.FirstPicture != null) {
                            <img class="lazy" 
								 data-original="@product.FirstPicture.PictureUrl" 
								 src="@Url.Content("~/images/spinner.gif")" 
								 alt="@product.Name" />
                        }
						<h4>@product.Name</h4>
                        <p class="info">A body-hugging, grap-your-GU-and-go active sport pack</p>
                        <p class="info"><span class="price">€@product.Price.ToString("n")</span></p>
                    </a>
                </div>
            }
            </div>
