@model IEnumerable<Llprk.Web.UI.Models.Product>
@*        <div class="span3">
            <h2 class="categoryName">@Model.Category.Name</h2>
            <a href="@Url.Action("index", "shop", new {id = Model.Category.Id }, null)#@Model.Category.Id">alle anzeigen...</a>
        </div>*@

            <div class="row products">
            @foreach(var product in Model) {
                <div class="span3 product">
                    <a href="@Url.Action("details", new { Id=product.Id })">
                        @if(@product.FirstPicture != null) {
                            <img class="lazy" 
								 data-original="@product.FirstPicture.PictureUrl" 
								 src="@Url.Content("~/images/spinner.gif")" 
								 alt="@product.Name" />
                        }
						<h4>@product.Name&nbsp;<small>NEU</small></h4>
                        <p class="info">@Html.Raw(product.ShortDescription)</p>
                        <p class="info"><span class="price hidden">€@product.Price.ToString("n")</span></p>
                    </a>
					@if (product.IsNew && false) {
						<img class="new" src="@Url.Content("~/Images/new.png")" alt="Neu im Sortiment" />
					}
                </div>
            }
            </div>
