@model IEnumerable<Llprk.Web.UI.Models.Product>
@*        <div class="span3">
            <h2 class="categoryName">@Model.Category.Name</h2>
            <a href="@Url.Action("index", "shop", new {id = Model.Category.Id }, null)#@Model.Category.Id">alle anzeigen...</a>
        </div>*@

            <div class="row products">
                <div class="span3 product">
                    <a href="@Url.Action("showyourlove", "home")">
						<img class="lazy" 
							 style="padding-top:10px;"
							 data-original="@Url.Content("~/Images/syl.png")"
							 src="@Url.Content("~/images/spinner.gif")" 
							 alt="ShowYourLove" />
						<h5> &nbsp; </h5>
                    </a>
                </div>
            @foreach(var product in Model) {
                <div class="span3 product">
                    <a href="@Url.Action("details", new { Id=product.Id })">
                        @if(@product.FirstPicture != null) {
                            <img class="lazy" 
								 data-original="@product.FirstPicture.PictureUrl" 
								 src="@Url.Content("~/images/spinner.gif")" 
								 alt="@product.Name" />
                        }
						<h5>
							@product.Name
						</h5>
                        <p class="info"><span class="price">@product.Price.ToString("c")</span></p>
                    </a>
                </div>
            }
            </div>
