@model Llprk.Web.UI.ViewModels.ShopDetail
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@* Code für den facebook "Gefällt mir" Button. *@
<div id="fb-root"></div>
<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@* Facebook Ende *@

<section id="main" ng-controller="ProductsCtrl" style="padding-bottom: 20px;">
    <div class="container details">
        <div class="row">
            <div class="span8 align-center">
				<div class="row header">
					<h2 class="categoryName">@Model.Product.Name <small class="muted hide">@Model.Product.Category.Name</small></h2>
				</div>
                <div class="row">
                    <img id="bigPicture" src="@Model.Product.FirstPicture.PictureUrl" class="" />
                </div>
                <div class="row">
                    <div class="thumbnails align-center span8">
                        @foreach (var picture in Model.Product.OrderedPictures) {
                            <img src="@picture.PictureUrl" class="" style="margin:2px 0; width: 64px;" />
                        }
                    </div>
                </div>
            </div>
            <div class="span4 explanation">
                <p class="caption">
                    @Html.Raw(Model.Product.Description)
                </p>
                <p>
                    <h2 class="price">@Model.Product.Price.ToString("c")</h2>
                </p>
                <p>
                    <a	href="#" 
						class="btn btn-inverse" 
                        ng:click="addToCart(@Model.Product.Id)">In den Warenkorb...</a>
                    <a href="@Url.Action("index")" class="btn btn-small">Zurück</a>
                </p>
                <p>
					<div class="fb-like" 
						data-href="@Request.Url.AbsoluteUri" 
						data-send="true" 
						data-width="450" 
						data-show-faces="true" 
						data-font="arial"></div>
                </p>
            </div>
        </div>


    </div>

</section>

@section scripts {
    <script type="text/javascript">
    	$('.thumbnails > img').mouseover(function () {
    		$('#bigPicture').attr('src', this.src);
    	});
    	angular.module('ShopApp.Values')
            .value('products', [@Html.Raw(Json.Encode(Model.SerializeableProduct))]);
    </script>
}

