@model MvcApplication1.ViewModels.ShopDetail
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<section id="main" ng-controller="ProductsCtrl" style="padding-bottom: 20px;">
    <div class="container details">
        <div class="row align-center">
            <div class="span12">
                <h2 class="categoryName">@Model.Product.Name</h2>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <img src="@Model.Product.Pictures.First().PictureUrl" />
            </div>
            <div class="span1 thumbnails">
                @foreach (var picture in Model.Product.Pictures) {
                    <img src="@picture.PictureUrl" />
                }
            </div>
            <div class="span5">
                <p class="caption">
                    @Model.Product.Description
                </p>
                <p>
                    <h3>@Model.Product.Price.ToString("c")</h3>
                </p>
                <p>
                    @Html.ActionLink("In den Warenkorb...", "index", null, new { @class="btn btn-warning" })
                    <a href="@Url.Action("index")" class="btn btn-small">Zurück</a>
                </p>
            </div>
        </div>

    </div>

</section>

@section scripts {
    <script type="text/javascript">
        $('.thumbnails > img').mouseover(function () {
            console.log('enter');
            $('#main .span6 > img').attr('src', this.src);
        });
        angular.module('ShopApp.Values', []).value('products', {});
    </script>
}

