@model Llprk.Web.UI.ViewModels.ShopDetail
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<section id="main" ng-controller="ProductsCtrl" style="padding-bottom: 20px;">
    <div class="container details">
        <div class="row align-center">
            <div class="span12">
                <h2 class="categoryName">@Model.Product.Name</h2>
            </div>
        </div>

        <div class="row">
            <div class="span6 align-center">
                <img src="@Model.Product.FirstPicture.PictureUrl" class="img-polaroid" />
            </div>
            <div class="span1 thumbnails align-center">
                @foreach (var picture in Model.Product.OrderedPictures) {
                    <img src="@picture.PictureUrl" class="img-polaroid" style="margin:2px 0;" />
                }
            </div>
            <div class="span5">
                <p class="caption">
                    @Html.Raw(Model.Product.Description)
                </p>
                <p>
                    <h3>@Model.Product.Price.ToString("c")</h3>
                </p>
                <hr />
                <p>
                    <a	href="#" 
						class="btn btn-warning" 
                        ng:click="addToCart(@Model.Product.Id)">In den Warenkorb...</a>
                    <a href="@Url.Action("index")" class="btn btn-small">Zurück</a>
                </p>
            </div>
        </div>

    </div>

</section>

@section scripts {
    <script type="text/javascript">
        $('.thumbnails > img').mouseover(function () {
            $('#main .span6 > img').attr('src', this.src);
        });
        angular.module('ShopApp.Values')
            .value('products', [@Html.Raw(Json.Encode(Model.SerializeableProduct))]);
    </script>
}

