@model MvcApplication1.ViewModels.ShopIndex
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<section id="main" ng-controller="ProductsCtrl">
    <div class="container">
        @foreach(var category in Model.Categories.Keys) {
            <div class="row align-center">
                <div class="span12">
                    <h2 class="categoryName">@category</h2>
                </div>
            </div>

            <div class="row align-center">
                <div class="products">
                    @foreach(var product in Model.Categories[category]) {
                        <div class="span3">
                            <a href="@Url.Action("details", new { Id=product.Id })">
                                @if(@product.Pictures.Any()) {
                                    <img src="@product.Pictures.First().PictureUrl" alt="@product.Name" />
                                }
                                <p><span>@product.Name <i>@product.Price.ToString("c")</i></span></p>
                            </a>
                            <p><button class="btn btn-small" ng-click="addToCart(@product.Id)">Kaufen</button></p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="container">
        <div class="row align-center explanation">
            <div class="span12">
                <p>
                    Jede Tasche ist einzigartig.<br />
                    Darum gibt es sie auch nur genau ein mal.
               
                    <br />
                    Schnapp dir deine tasche!
           
                </p>
            </div>
        </div>
    </div>

</section>

@section scripts {
    <script type="text/javascript">
        function scrollToTop() { $('html, body').animate({ scrollTop: 0 }, 200); }
        function scrollTo(e) { $('html, body').animate({ scrollTop: $(e).offset().top }, 200); }

        angular.module('ShopApp.Values', [])
            .value('products', @Html.Raw(Json.Encode(Model.Products)));
    </script>
}

